@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;700&family=Handjet:wght@100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Comic Neue';
}

a, input{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-image: url(/static/img/pool.jpg);
    color: black;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
}

nav div{
    justify-content: space-around;
    align-items: center;
    display: flex;
    font-size: x-large;
    color: black;
    text-decoration: none;
    font-weight: bold;

    height: 2rem;
    background-image: url(/static/img/ladrilho.jpg);
}

nav div a{
    display: flex;
    text-shadow: -1px 1px black;

}

main{
    min-height: calc(100vh - 9rem);
    /* background-color: cornflowerblue;
    background-image: url(/static/img/sparkles.gif); */
}


div.index h1{
    display: flex;
    font-size: 4rem;
    align-items: center;
    justify-content: center;
}

div.index img{
    display: flex;
    width: 35rem;
    margin-left: auto;
    margin-right: auto;
}

nav.index{
    display: flex;
    font-size: x-large;
    color: black;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

table, tr, td, th{
    border: 2px solid rgb(5, 71, 147);
    border-collapse: collapse;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: x-large; 
    background-color: rgb(0, 217, 255);
    justify-content: center; 
}

.tabula{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-top: 6rem;
}

.Adicionar{
    font-size: xx-large;
    display: flex;
    justify-content: center;
    color: green;
}


table{
    margin: auto;
}

div.mensagens{
    color: rgb(255, 179, 0);
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 6rem;
}

fieldset{
    display: flex;
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
}

form{
    display: flex;
    justify-content: center;
    padding-top: 14rem;
}

footer{
    height: 2rem;
    display: flex;
    background-image: url(/static/img/ladrilho.jpg);
    color: blueviolet;
    justify-content: end;
    align-items: center;
    font-size: small;
    text-shadow: -1px 1px black;
}
